.topContainer {
  background-color: #edf2f7;
  padding: 0.8em 0.8em 1.8em 0.8em;
  min-width: 100%;
  width: 100%;
}

.bodyContainer {
  border-radius: 10px;
  background-color: white;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  margin: 0;
  width: 100%;
}
