.divSpeechBlue,
.divSpeech {
  padding: 1em 1em 2.3em 1em;
  margin: 0.5em 0.3em 4em 0.3em;
  height: 17px;
  width: 200px;
  background: white;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid lightgray;
  border-radius: 10px;
  text-align: left;
}
.divSpeechBlue:hover,
.divSpeech:hover {
  background-color: #dfe7ef;
}

.divSpeechBlue {
  border: 3px solid blue;
}

.divSpeechBlue:before,
.divSpeech:before {
  content: "";
  position: absolute;
  top: -webkit-calc(100% - 10px);
  top: calc(100% - 0.6em);
  left: 45%;
  height: 21px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}

.divSpeechBlue:hover::before,
.divSpeech:hover::before {
  background-color: #dfe7ef;
}
