.mainContainer {
  min-width: 100%;
  padding: 1em;
}

.boxText {
  font-size: xx-small;
  font-weight: 600;
  width: 100%;
  margin: 0;
}

.boxNumberSelected,
.boxNumber {
  border-radius: 17px;
  padding: 15px 28px 33px 20px;
  font-size: large;
  width: 8px;
  height: 8px;
  border-style: solid;
  border: 1px;
  background-color: white;
  color: #2d3748;
  border-color: #dfe7ef;
  border-style: solid;
  margin: 0em 0em 0.2em 1.5em;
}

.boxNumberSelected {
  background-color: #2d3748;
  color: white;
  border-color: #dfe7ef;
  border-style: solid;
}
