<div class="container mainContainer">
  <div class="row">
    <div class="col alignLeft">
      <img src="../../assets/images/logo.png" width="40px" />
    </div>
    <div class="col-1">
      <div class="boxNumberSelected">1</div>
      <div class="row boxText">Sales Pipeline Settings</div>
    </div>
    <div class="col-1">
      <div class="boxNumber boxText">2</div>
      <div class="row boxText">Opportunity Details Settings</div>
    </div>
    <div class="col alignRight">
      <button class="btn btn-primary rounded-pill">Next</button>
    </div>
  </div>
</div>
